{% assign tabs = section.blocks | where: "type", "tab" %}
{% if tabs.size > 0 %}
  <tab-menu class="tab-menu">
    <ul
      role="tablist"
      class="tab-menu--list"
      data-tm-list>
      {% for block in tabs %}
        <li
          role="presentation"
          class="tab-menu--list-item"
          data-tm-list-item>
          <a
            role="tab"
            href="javascript:void(0)"
            class="tab-menu--link"
            id="Tab-{{ block.id }}"
            data-tm-link="Panel-{{ block.id }}">{{ block.settings.heading }}</a>
        </li>
      {% endfor %}
    </ul>

    {% for block in tabs %}
      <section
        role="tabpanel"
        class="tab-menu--content"
        aria-labelledby="Tab-{{ block.id }}"
        id="Panel-{{ block.id }}"
        tabindex="0"
        data-tm-content>
        {{ block.settings.content }}
        {% if block.settings.full_ingredients_content != empty %}
            <div class="btn-open-container--ingredients-modal">
              <button
                href="#"
                class="btn-open--ingredients-modal"
                data-ingredients-modal-open-button>Full Ingredients</button>
            </div>
            <section
              class="modal-main-container--ingredients-modal hidden"
              role="dialog"
              aria-modal="true"
              aria-labelledby="title--ingredients-modal"
              data-ingredients-modal>
              <div class="modal-top--ingredients-modal">
                <button class="btn-close--ingredients-modal" data-ingredients-modal-close-button>x</button>
                {{ block.settings.full_ingredients_content }}
              </div>
            </section>
            <div class="overlay--ingredients-modal hidden" data-ingredients-modal-overlay>.</div>
        {% endif %}
      </section>
    {% endfor %}

  </tab-menu>
{% endif %}
